html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.header-div {
    display: flex;
    border: blueviolet 1px dotted;
    align-content: center;
    justify-content: space-between;
}

header {
    width: 100%;
    border: blue 1px dotted;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2rem;
    font-weight: bold;
    color: #4aaaa5;
}

.frame {
    width: 70%;
    border: black 1px dotted;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#my-name {
    background-color: #4aaaa5;
    color: white;
    padding: 1.8rem;
}

.main-div {
    padding: 2rem 0.5rem;
    border: black 1px solid;
}